body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}


/*CLEAR FIX SOLLUTION*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/**********
    default display of elemnets on your page is called "stacked"

    to get your elements on the same line we use something called flexbox
    to invoke flexbox use the rule::after
        display: flex;

flexbox attmpts to place all elemnts within its " immediate specified container" an
    on the same line

Immediate?? the next level of elemnts

flexbox will automatically adjust measurements to get all elements to 
    apper pn the same line REGARDLESS of the 

solution: alter the dufault wrapping for flexbox which is none

rule: flex-wrap: wrap;

This will place as mane elements as possible on a single row 
    without adjusting the measurements of your elements,
Any leftover elements will wrap to the following lin until
    all elements have been displayed

WARNING: file-wrap affect a flex diaplay area. Withour the display: flex;
        rule, flex-wrap is meaningless.

***********/
main{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

/*******
given the lcasses sone height and width due to the fact that the elements do NOT contain any textural content
set height to a choosenvalue of 300px
set the width of each box to fix the final given image
margin: 30px
padding and border = 0
page width is 960;

page-width = (box) + (box) + ... + remainder

ourboxes are of an equal size

page-width = n* (box) + remainder
960 = 2 *1(m + 1b + 1p + content + rp + rb + rm) = remainder
960 = 2 (30 + 0 + 0 + content + 0 + 0 + 0) + 30
960 = 60 + 30 + 2content
960 - 90 = 2content
870 / 2 =content
435 = content
***********/

.red-paint{
    height: 300px;
    width: 435px;
    background-color: red;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;

}

.blue-paint{
    height:300px;
    width: 435px;
    background-color: blue;
    margin: 30px 0px 0px 30px;
}

/********************************************************
page = lm + lb + lp + content + rp + rb + rm + remainder
960 = 30 + 0 + 0 + content + 0 + 0 + 0 + 30
960 = 60 + content
900 = content
********************************************************/

.black-paint{
    height: 50px;
    width: 900px;
    background-color: black;
    margin: 30px 0px 30px 30px;
}