body {
	background-color: #f3f3f3;
	padding:26px 0px 26px 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #313131;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}